<div class="container mt-5 background-page">
    <div class="pt-2">
        <h2>Jefes</h2>
        <p>Los jefes son enemigos comunes en los videojuegos, ellos siendo muchos más poderosos que enemigos normales. Encontrados usualmente al final de un nivel como un desafío final, bastante de ellos requiriendo intentar cosas aprendidas durante el nivel o en el juego entero para poder derrotarlos.</p>
        <p>En The Binding of Isaac, los jefes aparecen al final de cada piso en sus propias habitaciones. Pero mientras se llegue a pisos más difíciles, los jefes cada vez son más retadores, e incluso jefes de niveles anteriores empiezan a aparecer como monstruos comunes.</p>
        <p>Hay un tipo de jefe que puede ser clasificados como jefes finales, ya que al derrotarlos suele ser donde termina la partida, o en algunos casos donde se solía acabar. Todos los jefes finales desbloquean secretos al derrotarlos con algún personaje en específico, excepto Mom, que igualmente se considera un jefe final. Los jefes finales siempre aparecen en el mismo piso en todas las partidas también.</p>
    </div>
    <div class="table">
        <div class="chapter">Capítulo 1</div>
        <thead class="floor" id="basement">
            <div class="row rowTitle">
                Basement
            </div>
            <div class="row rowItems">
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-1.png" alt="">
                    <div class="name">
                        Dingle
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-2.png" alt="">
                    <div class="name">
                        The Duke of Flies
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-3.png" alt="">
                    <div class="name">
                        Gemini
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-4.png" alt="">
                    <div class="name">
                        Steven
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-5.png" alt="">
                    <div class="name">
                        Larry Jr.
                    </div>            
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-6.webp" alt="">
                    <div class="name">
                        Monstro
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-7.png" alt="">
                    <div class="name">
                        Gurglings
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-8.png" alt="">
                    <div class="name">
                        Famine
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-9.png" alt="">
                    <div class="name">
                        The Fallen
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-10.png" alt="">
                    <div class="name">
                        The Headless Horseman
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-11.png" alt="">
                    <div class="name">
                        Dangle
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-12.png" alt="">
                    <div class="name">
                        Little Horn
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-13.png" alt="">
                    <div class="name">
                        Turdlings
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-14.png" alt="">
                    <div class="name">
                        Rag Man
                    </div>
                </th>
                <th class="col-3 colItem">
                    <img src="../../../assets/logos/bosses/chapter/1/basement/boss-15.png" alt="">
                    <div class="name">
                        Baby Plum
                    </div>
                </th>
            </div>
            
        </thead>
    </div>
</div>