<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="assets\logos\logo-1.webp" height="30px" alt="">
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="bosses">Bosses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="page1">Page 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="page2">Page 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="page3">Page 3</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="edit">Editar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Buscar">
                <button class="btn btn-primary" type="button">Buscar</button>
            </form>
        </div>
    </div>
</nav>