#div_1{
    background-image: url(src\assets\images\image-2.webp);
    background-size: cover;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px #111111;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.divSector_1{
    border-radius: 0.5em;
    border-color: #111111;
    padding: 10px;
    background-color: #6c4537;
    color: #FFFFFF;
    -webkit-text-stroke: 0.5px #111111;
    font-size: 20px;
    box-shadow: 0px 0px 4px 2px rgb(17 17 17), inset 0px 0px 4px 5px rgb(17 17 17 / 50%);
    text-align: justify;
}
.divSector_title{
    border-color: #111111;
    padding: 2.5px;
    text-align: center;
    background-color: #111111;
    box-shadow: 0px 0px 4px 2px rgb(17 17 17), inset 0px 0px 4px 2px rgb(17 17 17 / 65%);
}
.titleColor{
    color: #F9AE47;
}
#link_1{
    color: black;
    -webkit-text-stroke: 0.1px #FFFFFF;
    font-size: 20px;
    font-style: italic;
    text-decoration-line: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divSector_cards{
    background-color: #6c4537;
    padding-left: 5%;
    padding-right: 5%;
    
}
.rowCards{
    align-items: center;
    justify-content: center;
    border-style: none;
}
.card{
    background-color: #6c4537;
    margin: 5px;
    height: 150px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    cursor: pointer;
}
.cardTitle{
    text-align: center;
    color: #111111;
    font-size:large;
    bottom: 0;
    position: absolute;
    border-top: 5px solid #111111;
}
.imgCards{
    height: 100px;
    top: 5px;
    position: absolute;
}
.card:hover{
    box-shadow: 0px 0px 4px 2px rgb(17 17 17), inset 0px 0px 4px 2px rgb(17 17 17 / 65%);
}