<div class="container m-5 background-page">
    <div class="pt-2">
        <div id="div_1">
            <div class="p-5">
                <h1 class="titleColor">¡Bienvenidos a Wiki Binding of Isaac!</h1>
                <p>La wiki en español sobre la serie de juegos The Binding of Isaac, creada por Edmund McMillen, es un proyecto sobre el juego del mismo nombre, donde podrás encontrar información sobre todo lo relacionado a este juego.</p>
            </div>
        </div>
    </div>
    <div class="pt-2 mt-4">
        <div class="divSector_1">
            <div class="divSector_title">
                <h3 class="pt-2 titleColor">Sobre The Binding of Isaac</h3>
            </div>
            <p class="pt-2">The Binding of Isaac es un videojuego de rol de acción basado en la generación de mazmorras y objetos para el jugador, requiriendo eliminar un jefe final para acabar una partida correctamente. El juego se controla como un videojuego de disparos de palancas gemelas. Siendo Isaac, los jugadores en su aventura deben enfrentar monstruos y demonios usando sus propias lágrimas como proyectiles.</p>
            <a routerLink="/about" id="link_1" class="link">Ver aquí por más información sobre la franquicia completa.</a>
        </div>
    </div>
    <div class="pt-2 mt-2 p-3">
        <div class="divSector_1">
            <div class="divSector_title">
                <h3 class="pt-2 titleColor">Contenido</h3>
            </div>
            <div class="divSector_cards container mt-4">
                <div class="row rowCards">
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-2.png" class="imgCards">
                        <div class="cardTitle">Logros</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/bosses">
                        <img src="../../../assets/logos/logo-3.png" class="imgCards">
                        <div class="cardTitle">Jefes</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-4.png" class="imgCards">
                        <div class="cardTitle">Cartas/Runas</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-5.png" class="imgCards">
                        <div class="cardTitle">Desafíos</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-6.png" class="imgCards">
                        <div class="cardTitle">Personajes</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-7.png" class="imgCards">
                        <div class="cardTitle">Objetos</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-8.png" class="imgCards">
                        <div class="cardTitle">Cooperativo</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-9.png" class="imgCards">
                        <div class="cardTitle">Monstruos</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-10.png" class="imgCards">
                        <div class="cardTitle">Píldoras</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-11.png" class="imgCards">
                        <div class="cardTitle">Habitaciones</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-12.png" class="imgCards">
                        <div class="cardTitle">Seeds</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-13.png" class="imgCards">
                        <div class="cardTitle">Transformaciones</div>
                    </div>
                    <div class="card col-3 mb-4" routerLink="/page1">
                        <img src="../../../assets/logos/logo-14.png" class="imgCards">
                        <div class="cardTitle">Baratijas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>